VITE_VP_API_BASE=https://uybb6wv27prwyijtkcteovvvke0hfkqw.lambda-url.us-east-2.on.aws
VITE_VP_PUBLIC_KEY=vp_pub_test_g0CAzW80fTNG5GJYV2wA1XUFFXov7VU9
VITE_VP_FACE_MODEL_URL=/models/fr_detect.onnx
VITE_VP_LANDMARK_MODEL_URL=/models/fr_landmark.onnx
